{%- comment -%}
----------------------------------------------------------------------------------------------------------------------
PRODUCT CARD COMPONENT
----------------------------------------------------------------------------------------------------------------------

This component is used in collection and featured collection to render a single product as a card

********************************************
Supported variables
********************************************

* product: the product to render
* show_rating: show or not the rating. If nothing is set, the theme uses the default product card setting
* show_vendor: show or not the vendor. If nothing is set, the theme uses the default product card setting
* show_quick_buy: show or not the quick buy. If nothing is set, the theme uses the default product card setting
* show_secondary_image: show or not the secondary image. If nothing is set, the theme uses the default product card setting
* show_swatches: allow to force hiding swatches. If nothing is set, it will default to the default card strategy
* stacked: indicate if the product is in stack mode
* position: the position of the card in the list. If specified, the theme will eagerly load the first 3 cards images
* reveal: if set to true the item will be revealed in a stacked mode
* background: the background to use for the product card (if none is passed then the one from the global setting is used)
* text_color: the text color to use for the product card (if none is passed then the one from the global setting is used)
* text_alignment: can be "center". If nothing is set, the theme uses the default product card setting
{%- endcomment -%}

{%- assign show_rating = show_rating | default: settings.show_product_rating, allow_false: true -%}
{%- assign show_vendor = show_vendor | default: settings.show_vendor, allow_false: true -%}
{%- assign show_quick_buy = show_quick_buy | default: settings.show_quick_buy, allow_false: true -%}
{%- assign show_secondary_image = show_secondary_image | default: settings.show_secondary_image, allow_false: true -%}
{%- assign text_alignment = text_alignment | default: settings.product_info_alignment -%}

{%- if stacked and section.settings.products_per_row_mobile == '2' -%}
  {%- assign mobile_reduced = true -%}
{%- endif -%}

{%- assign section_background = section.settings.background_gradient | default: section.settings.background | default: settings.background -%}
{%- assign card_background = background | default: settings.product_card_background -%}
{%- assign card_text_color = text_color | default: settings.product_card_text_color -%}

{%- if section_background != 'rgba(0,0,0,0)' and card_background != 'rgba(0,0,0,0)' and section_background != card_background -%}
  {%- assign card_class = 'product-card ' -%}
{%- else -%}
  {%- assign card_class = 'product-card product-card--blends ' -%}
{%- endif -%}

{%- if show_secondary_image and product.media.size > 1 -%}
  {%- assign card_class = card_class | append: 'product-card--show-secondary-media' -%}
{%- endif -%}



<product-card handle="{{ product.handle | escape }}" {% if reveal and settings.stagger_products_apparition %}reveal-js{% endif %} {% render 'surface', class: card_class, background: card_background, text_color: card_text_color %} 
  >
  
  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT BADGES
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- if show_badges and product.media.size > 0 -%}
    {%- render 'product-badges', product: product,  collection: collection, context: 'card', class: 'product-card__badge-list' -%}
  {%- endif -%}

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT MEDIA
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}

  {%- if product.media.size > 0 -%}
    <div class="product-card__figure">
      <a href="{{ product.url }}" data-instant>
        {%- capture sizes -%}
          {%- if stacked -%}
            (max-width: 699px) calc(100vw / {{ section.settings.products_per_row_mobile }} - 40px), (max-width: 1200px) calc(100vw / {{ 3 | at_most: section.settings.products_per_row_desktop }} - 64px), calc((100vw - 96px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
          {%- else -%}
            (max-width: 699px) 74vw, (max-width: 999px) 38vw, calc((100vw - 96px) / {{ section.settings.products_per_row_desktop }} - (24px / {{ section.settings.products_per_row_desktop }} * {{ section.settings.products_per_row_desktop | minus: 1 }}))
          {%- endif -%}
        {%- endcapture -%}

        {%- liquid
          assign main_media_loading_strategy = nil
          
          if section.index > 3 or position > 3
            assign main_media_loading_strategy = 'lazy'
          endif
        -%}

        {%- capture main_image_classes -%}product-card__image product-card__image--primary {% if settings.product_image_aspect_ratio contains 'crop' %}object-fill-safe{% endif %} aspect-{{ settings.product_image_aspect_ratio | split: '_' | first }}{%- endcapture -%}
        {{- product.featured_media | image_url: width: 500 | image_tag: loading: main_media_loading_strategy, sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800', class: main_image_classes -}}

        {%- if show_secondary_image and product.media.size > 1 -%}
          {%- assign next_media = product.media[product.featured_media.position] | default: product.media[1] -%}
          {{- next_media | image_url: width: 500 | image_tag: class: 'product-card__image product-card__image--secondary object-fill', loading: 'lazy', fetchpriority: 'low', sizes: sizes, widths: '200,300,400,500,600,700,800,1000,1200,1400,1600,1800' -}}
        {%- endif -%}
      </a>

      {%- if show_quick_buy and product.available -%}
        <div class="product-card__quick-buy">
          {%- assign quick_add_label = 'product.general.quick_add' | t -%}

          {%- if product.variants.size == 1 and product.selling_plan_groups.size == 0 -%}
            {%- form 'product', product, is: 'product-form' -%}
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">

              <div class="pointer-fine:hidden">
                <button type="submit" is="custom-button" class="product-card__mobile-quick-buy-button" aria-label="{{ quick_add_label | escape }}">
                  {%- render 'icon' with 'quick-buy-cart' -%}
                </button>
              </div>

              <div class="pointer-coarse:hidden">
                {%- render 'button', type: 'submit', content: quick_add_label -%}
              </div>
            {%- endform -%}
          {%- else -%}
            {%- capture quick_buy_id -%}quick-buy-{{ section.id }}-{{ product.id }}{%- endcapture -%}

            <div class="pointer-fine:hidden">
              <button type="button" aria-controls="{{ quick_buy_id }}" aria-expanded="false" aria-label="{{ quick_add_label | escape }}" is="custom-button" class="product-card__mobile-quick-buy-button">
                {%- render 'icon' with 'quick-buy-cart' -%}
              </button>
            </div>

            <div class="pointer-coarse:hidden">
              {%- render 'button', content: quick_add_label, aria_controls: quick_buy_id -%}
            </div>

            <quick-buy-drawer id="{{ quick_buy_id }}" header-bordered open-from="bottom" handle="{{ product.handle }}?variant={{ product.selected_or_first_available_variant.id }}" role="region" aria-live="polite" class="quick-buy-drawer drawer">
              {%- comment -%}Quick buy content is filled on demand for performance reasons {%- endcomment -%}
            </quick-buy-drawer>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

  {%- comment -%}
  --------------------------------------------------------------------------------------------------------------------
  PRODUCT INFO
  --------------------------------------------------------------------------------------------------------------------
  {%- endcomment -%}
   
  <div class="product-card__info {% if text_alignment == 'center' %}product-card__info--center{% endif %} {%- if product.handle contains 'headphone-connect' -%}headphone-connect-padding{% endif %}">
    {%- if show_vendor and product.vendor != blank -%}
      {%- if show_rating and text_alignment != 'center' -%}
        <div class="rating-with-text w-full">
          {%- render 'vendor' with product.vendor, class: 'text-xs' -%}

          {%- capture rating_class -%}{% if mobile_reduced %}hidden sm:flex{% endif %}{%- endcapture -%}
          {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
        </div>
      {%- else -%}
        {%- render 'vendor' with product.vendor, class: 'text-xs' -%}
      {%- endif -%}
    {%- endif -%}

    <div class="v-stack gap-0.5 w-full {% if text_alignment == 'center' %}justify-items-center{% endif %}">
      {%- if show_rating and show_vendor == false or product.vendor == blank -%}
        <div class="rating-with-text">
         <span class="product-card__title"><a href="{{ product.url }}" class="bold" data-instant>{{ product.title }}</a></span>

          {%- if text_alignment != 'center' -%}
            {%- capture rating_class -%}{% if mobile_reduced %}hidden sm:flex{% endif %}{%- endcapture -%}
            {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
          {%- endif -%}
        </div>
      {%- else -%}
      {% unless product.handle contains 'headphone-connect' %}  
        {% if request.page_type == 'product' %}
  {%- if product.metafields.hpz.bundle_subtitle != blank -%}
 <div><h6 class="bundles-subtitle">{{ product.metafields.hpz.bundle_subtitle  }}</h6></div>
   {%- endif -%}
   {%- endif -%}
      <span class="product-card__title">
          <a href="{{ product.url }}" class="bold" data-instant>{{ product.title }}</a>
        </span>
        {% endunless %}
        <span class="{% if product.tags contains 'bundles' %}bundle-subtitle {% 
elsif product.tags contains 'focal-trade-in' %}focal-trade-in-subtitle {% 
elsif product.handle contains 'headphone-connect' %}headphone-connect-subtitle {% 
endif %}subtitle center">

          
          {%- if product.tags contains 'freebie-adapter-ibasso' -%}
            Free Venture Electronics - 4.4mm Female - 2.5TRRS Male with this purchase
          {%- comment -%}
          {% elsif product.tags contains 'free-engraving' %}
            Free Custom Laser Engraving with this purchase
         {%- endcomment -%}

          
          {%- elsif product.tags contains 'freebie-adapter' -%}
            Free Venture Electronics Adpater with this purchase 
          {%- elsif product.tags contains 'Free-cable-meze-mono' -%}
            Free Meze Mono 3.5mm-4.4mm Silver-Plated PCUHD Cable with this purchase
          {%- elsif product.tags contains 'Free-silver-cable-meze' -%}
            Free Meze MMCX to 4.4mm Balanced Silver Plated Upgrade Cable with this purchase
          {%- elsif product.tags contains 'freebie-fiio-ka13' -%}
            Free FiiO KA13 with this purchase
          {%- elsif product.tags contains 'Free-Carrying-Case-Charcoal-V2' -%}
            Free Dekoni Audio Universal Headphone Carrying Case Charcoal V2 with this purchase
          {%- elsif product.tags contains 'free-slim-stand' -%}
            Free Headphone Zone SLIM Headphone Stand with this purchase
          {%- elsif product.tags contains 'Free-HiFiMAN-Travel-Case' -%}
            Free HiFiMAN Headphone Travel Case with this purchase 
          {%- elsif product.tags contains 'free-zombur-mmcx-cable' -%}
            Free Tripowin Zombur Upgrade Cable with this purchase 
          {%- elsif product.tags contains 'free-qutest-stand' -%}
            Free Chord Qutest System Stand with this purchase 
          
          {%- elsif product.tags contains 'free-helix-stand' -%}
            Free Headphone Zone Helix Headphone Stand with this purchase
          {%- elsif product.tags contains 'Free-hpz-tan-case' -%}
            Free Headphone Zone X ddHiFi Tan IEM / Earphone Case with this purchase
          {%- elsif product.tags contains 'Free-Dreadnought-Stand-HiFiMAN-Case' -%}
            Free Headphone Zone Stand + HiFiMAN Travel Case with this purchase
          {%- elsif product.tags contains 'free-LT-LT1' -%}
            Free FiiO LT-LT1 with this purchase 
          {%- elsif product.tags contains 'free-granvia-cable' -%}
            Free Tripowin GranVia HD600 Series with this purchase
          {%- elsif product.tags contains 'freebie-adapter-4.4-2.5' -%}
            Free Venture Electronics Adapter Cable with this purchase
          {%- elsif product.tags contains 'freebie-granvia-4-4mm' -%}
            Free Tripowin GranVia 4.4mm Balanced Cable with this purchase
          {%- elsif product.tags contains 'focal-trade-in' -%}
            Trade in ANY headphones for a flat ₹15,000 discount
          {% else %}
            {{- product.metafields.descriptors.subtitle -}}
            
          {%- endif -%}
        </span>
     {%- if product.tags contains 'free-performance-stand' -%}
  <span class="{% if product.tags contains 'freebie-included' %}freebie-subtitle-color {% endif %}subtitle center">Free Burson Audio Cool Stand with this purchase</span>
{%- endif -%}

      {%- if product.handle contains 'sennheiser-ie-900' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,000 off with code IE900_2000</span>
 {%- endif -%}

       {%- if product.handle contains 'sennheiser-ie-600' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 1,000 off with code IE600_1000</span>
 {%- endif -%}

      {%- if product.handle contains 'sennheiser-hd-600' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,000 off with code HD600_2000</span>
 {%- endif -%}

      {%- if product.handle contains 'sennheiser-hd-660s2' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,000 off with code HD660S2_2000</span>
 {%- endif -%}

      {%- if product.handle contains 'sennheiser-hd-800-s' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,500 off with code HD800s_2500</span>
 {%- endif -%}

      {%- if product.handle contains 'sennheiser-hd-820' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,500 off with code HD820_2500</span>
 {%- endif -%}

       {%- if product.handle contains 'sennheiser-hd-650' -%}
 <span style="color:#ff4343; font-size:13px!important;" class="subtitle center">Get Rs. 2,000 off with code HD650_2000</span>
 {%- endif -%}
 

        
        {%- if product.tags contains 'free-Headphone-Zone-x-KZ-FreeFall-Case' -%}
   <span class="{% if product.tags contains 'freebie-included' %}freebie-subtitle-color {% endif %}subtitle center">Free Headphone Zone x KZ FreeFall Case with this purchase</span>
{%- endif -%}
        
      {%- endif -%}
      {% unless product.tags contains 'no-price' %}
        {%- render 'price-list', product: product, text_alignment: text_alignment -%}
        {% if product.metafields.hpz.previous_selling_price != blank %}
          <price-list style="display:block!important;" {% if form_id %} role="region" aria-live="polite" {% endif %} class="price-list {% if size == 'lg' %}price-list--lg{% endif %} {% if text_alignment == 'center' %}justify-center{% endif %}" {{ block.shopify_attributes }}>
            {% if product.tags contains 'price-drop' %}
              <div style="display:block!important;">
                <span>Dropped Price: </span>
                <span class="price price--highlight price--large price-text">
                  {{- product.selected_or_first_available_variant.price | money -}}
                </span>
              </div>
            {% endif %}
            {% if product.tags contains 'FOSS' %}
              <div style="display:block!important;font-weight:bold;">
                <span>Sale Price: </span>
                <span style="font-size:14px!important; color:#ff4343">
                  {{- product.selected_or_first_available_variant.price | money -}}
                </span>
              </div>
            {% endif %}
            {% if product.tags contains 'Senn' %}
              {% unless product.handle contains 'cayin-ru7'
                or product.handle contains 'fiio-btr7'
                or product.handle contains 'fiio-k7'
                or product.handle contains 'fiio-ka1'
                or product.handle contains 'fiio-m11-plus-ess'
                or product.handle contains 'final-e1000'
                or product.handle contains 'final-e3000'
                or product.handle contains 'hifiman-arya-organic'
                or product.handle contains 'astell-kern-ak-xb10'
              %}
                <div style="display:block!important;font-weight:bold;">
                  <span>Sale Price: </span>
                  <span style="font-size:14px!important;">
                    {{- product.selected_or_first_available_variant.price | money -}}
                  </span>
                </div>
              {% endunless %}
            {% endif %}
            {% assign proper_price = product.selected_or_first_available_variant.price | divided_by: 100.0 %}
            {% assign proper_mrp = product.compare_at_price_max | divided_by: 100.0 %}
            {% unless product.metafields.hpz.previous_selling_price == proper_price
              or product.metafields.hpz.previous_selling_price == proper_mrp
            %}
              {% assign previous_selling_price = product.metafields.hpz.previous_selling_price | times: 100.0 %}
              <span class="price price--compare" style="font-size: 14px; opacity: 0.6;">
                <span>
                  Usual Price:
                  <span style="font-weight:600;">{{ previous_selling_price | money }}</span>
                </span>
              </span>
            {% endunless %}
            <span data-product-price-compare-list-selling>
              <span class="price price--compare price-compare-text">
                <span style="font-weight:500; text-decoration:line-through; font-size: 14px; opacity: 0.6;">
                  {{- product.selected_or_first_available_variant.compare_at_price | money -}}
                </span>
              </span>
            </span>
          </price-list>
        {% endif %}
      {% endunless %}

      {%- if product.metafields.hpz.collection_icon_json != blank -%}
        {%- render 'collection-icons-working', product: product -%}
      {%- endif -%}

      <div class="card-grid-rating-compare">
      <div style="{{ jm_style }}" class="jdgm-widget jdgm-preview-badge collection-review" data-id="{{ product.id }}" data-template="manual-installation" data-auto-install="false">
        {{ product.metafields.judgeme.badge }}
      </div>
  <div class="compare-right">
    {%- if product.tags contains 'show-comparison' %}
      {% render 'add-to-compare' with 'loop' as add-to-compare, product: product %}
    {%- endif -%}
  </div>
</div>
      
      {%- if page.handle contains 'clearance' or collection.handle contains 'clearance' -%}
        {% if product.first_available_variant.inventory_quantity > 0
          and product.first_available_variant.inventory_quantity < 5
        %}
          <div class="items-left">Only {{ product.first_available_variant.inventory_quantity }} left in stock</div>
        {% endif %}
      {% endif %}
    </div>

    {%- if show_rating and mobile_reduced or text_alignment == 'center' -%}
      {%- capture rating_class -%}{% unless text_alignment == 'center' %}sm:hidden{% endunless %}{%- endcapture -%}
      {%- render 'product-rating', product: product, class: rating_class, display_mode: settings.product_rating_mode -%}
    {%- endif -%}

    {% if product.metafields.hpz.expected_to_restocked or product.metafields.hpz.coming_soon_by or product.metafields.hpz.launch_date %}
      <p class="expected-to-be-restocked-by">
        {% if product.metafields.hpz.expected_to_restocked %}
          TO BE RESTOCKED BY <b>{{ product.metafields.hpz.expected_to_restocked.value }}</b>
        {% elsif product.metafields.hpz.coming_soon_by %}
          Coming soon by <b>{{ product.metafields.hpz.coming_soon_by.value }}</b>
        {% elsif product.metafields.hpz.launch_date %}
          Launching on <b>{{ product.metafields.hpz.launch_date.value }}</b>
        {% endif %}
      </p>
    {% endif %}

    {%- if settings.product_color_display != 'hide' and show_swatches != false -%}
      {%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}

      {%- for color_label in color_label_list -%}
        {%- if product.options_by_name[color_label] != blank -%}
          {%- assign product_option = product.options_by_name[color_label] -%}
          
          <div class="product-card__aside">
            {%- case settings.product_color_display -%}
              {%- when 'count' -%}
                <p class="product-card__color-count text-sm text-subdued">{{- 'product.general.available_colors_count' | t: count: product_option.values.size -}}</p>

              {%- when 'swatch' -%}
                <fieldset class="product-card__swatch-list h-stack {% if settings.color_swatch_style == 'rectangle' %}gap-2.5{% else %}gap-0.5{% endif %}" data-option-position="{{ product_option.position }}">
                  <legend class="sr-only">{{ product_option.name }}</legend>

                  {%- capture param_name -%}swatch-{{ quick_buy_context }}-{{ section.id }}-{{ product.id }}-{{ product_option.position }}{%- endcapture -%}

                  {%- liquid
                    for option_value in product_option.values limit: 4
                      render 'option-value', type: 'swatch', option_value: option_value, param_name: param_name, option_position: product_option.position, output_variant_media: true, size: 'sm'
                    endfor
                  -%}

                  {% if product_option.values.size > 4 %}
                    <a href="{{ product.url }}" data-instant class="color-swatch__view-more {% if settings.color_swatch_style == 'round' %}rounded-full{% endif %} text-xxs text-subdued">+{{ product_option.values.size | minus: 4 }}</a>
                  {% endif %}
                </fieldset>

              {%- when 'variant' -%}
                <fieldset class="product-card__variant-list" data-option-position="{{ product_option.position }}">
                  <legend class="sr-only">{{ product_option.name }}</legend>
                  
                  {%- capture param_name -%}swatch-{{ quick_buy_context }}-{{ section.id }}-{{ product.id }}-{{ product_option.position }}{%- endcapture -%}

                  {%- for option_value in product_option.values limit: 4 -%}
                    {%- if forloop.first or option_value.variant.matched and option_value == product_option.selected_value -%}
                      {%- assign selected = true -%}
                    {%- else -%}
                      {%- assign selected = false -%}
                    {%- endif -%}

                    {%- render 'option-value', type: 'thumbnail', image: option_value.variant.featured_media, option_value: option_value, param_name: param_name, size: 'sm', output_variant_media: true, selected: selected -%}
                  {%- endfor -%}

                  {%- if product_option.values.size > 4 -%}
                    <a href="{{ product.url }}" data-instant class="thumbnail-swatch__view-more text-xs text-subdued">+{{ product_option.values.size | minus: 4 }}</a>
                  {%- endif -%}
                </fieldset>
              {%- endcase -%}
          </div>

          {%- break -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  </div>
</product-card>