{%- case snapshot-popover -%}
  {%- when 'ideal-for-taking-calls' -%}
    <h6 class="h6">Ideal for Taking Calls</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p>Sometimes, DAC & Amps embed a built-in microphone so you can make calls while on the go. If you are someone who is working from home and needs to do a conference call or a video call, you'll benefit from a DAC & Amp with a microphone. </p><br>
        <p><b>You can expect these DAC & Amps to offer brilliant microphone quality and clear audio</b> without connecting additional peripherals. Just plug them in, and express yourself! </p><br>
      {% when 'Wired Earphones' %}
        <p>These earphones/IEMs are designed to present how audio tech, typically associated with listening to music, <b>can be used for two-way communications.</b> </p><br>
        <p>If you are someone who is working from home and needs to do a conference call or have a video call, <b>you'll benefit from a pair of earphones/IEMs with a mic.</b> </p><br>
        <p>You can expect these earphones/IEMs to offer <b>good microphone quality and clear audio</b> without having to connect additional peripherals. Just plug them in, and express yourself! </p><br>
      {% when 'Wired Headphones' %}
        <p>These headphones are designed to present how audio tech, typically associated with listening to music, <b>can be used for two-way communications.</b> </p><br>
        <p>If you're someone who is working from home and needs to do a conference call or have a video call, you'll <b>benefit from a pair of headphones with a mic.</b> </p><br>
        <p>You can expect these headphones to offer <b>good quality and clear audio</b> without having to connect additional peripherals. Just plug them in, and express yourself! </p><br>
      {% when 'True Wireless Earbuds' %}
        <p>These True Wireless Earbuds are designed to present how audio tech, typically associated with listening to music, <b>can be used for two-way communications.</b> </p><br>
        <p>If you're someone who is working from home and needs to do a conference call or have a video call, you'll <b>benefit from a pair of True Wireless Earbuds with a mic.</b> </p><br>
        <p>You can expect these True Wireless Earbuds to offer <b>good microphone quality and clear audio</b> without having to connect additional peripherals. Just plug them in, and express yourself! </p><br>
      {% when 'Wireless Headphones' %}
        <p>These headphones are designed to present how audio tech, typically associated with listening to music, can be used for two-way communications. If you are someone who is working from home and needs to do a conference call or have a video call with your mum, you'll benefit from a pair of headphones with a mic. </p><br>
        <p>You can expect these headphones to offer <b>good quality and clear audio</b> without having to connect additional peripherals. Just plug them on, and express yourself! </p><br>
    {% endcase %}

  {% when 'ideal-for-gaming' %}
    <h6 class="h6">Ideal for Gaming</h6>
    <p>Sometimes, DAC & Amps embed a built-in microphone so you can use it while gaming. If you are someone working from home, or a professional gamer, you'll benefit from a DAC & Amp with a microphone.</p><br>
    <p><b>You can expect these DAC & Amps to offer brilliant microphone quality and clear audio</b> so that teammates can hear you at the other end. Just plug them in, and game your way to victory!</p><br>

  {%- when 'for-studio-and-professionals' -%}
    <h6 class="h6">For Studio & Professionals</h6>
    <p>As the name implies, anything branded as studio headphones is designed especially for a studio setting with a <b>particular focus on accuracy and transparency for monitoring and mixing.</b></p><br>
    <p><b>These headphones present an accurate image of your music</b> than ordinary headphones, allowing you to hear every nuance and aspect of your music. Therefore, having a good set of studio headphones is just as important as any other gear in your studio.</p><br>
    <p><b>These headphones provide a fresh perspective to that mix you’ve spent hours mastering and recording, essentially giving you another set of ears.</b></p><br>

  {%- when 'ideal-for-audiophiles' -%}
    <h6 class="h6">Ideal for Audiophiles</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p><b>These DAC & Amps are designed for discerning music lovers.</b> If audio quality is important to you, a set of DAC & Amps like these would be ideal. </p><br>
        <p><b>You can expect these DAC & Amps to present you with a refined listening experience.</b> The audio quality exhibited by these DAC & Amps is a <b>beautiful mix of musicality, technical brilliance and high precision.</b> </p><br>
        <p><b>These DAC & Amps deliver a spacious & open soundstage</b> that makes you feel you are sitting at a live concert. Experience the magic and delve into pure sonic tranquility! </p><br>
      {% when 'Wired Earphones' %}
        <p>These earphones/IEMs are designed for <b>discerning music lovers</b>. If you are someone who cares about audio quality deeply, you'll want a pair of earphones/IEMs like these. You can expect them to <b>present a Hi-Fidelity listening experience.</b> </p><br>
        <p>The audio quality exhibited by these earphones/IEMs is a <b>beautiful mix of musicality, technical brilliance and high precision</b>. These earphones/IEMs deliver a <b>spacious and open soundstage with utmost clarity and detail</b>. Delve into pure sonic bliss with these earphones/IEMs! </p><br>
      {% when 'Wired Headphones' %}
        <p><b>These headphones are designed for discerning music lovers.</b> If you are someone who cares about audio quality "deeply," you'll want a pair of headphones like these. </p><br>
        <p><b>You can expect them to present a refined listening experience.</b> The audio quality exhibited by these headphones is a <b>beautiful mix of musicality, technical brilliance and high precision.</b> </p><br>
        <p><b>These headphones deliver a spacious and open soundstage</b> with utmost clarity and detail. Delve into pure sonic bliss with these headphones! </p><br>
      {% when 'Digital Audio Players' %}
        <p><b>These DAPs are designed for discerning music lovers</b>. If audio quality is important to you, DAPs like these would be ideal. </p><br>
        <p><b>You can expect these DAPs to present you with a refined listening experience</b>. The audio quality exhibited by these DAPs is a <b>beautiful mix of musicality, technical brilliance and high precision.</b> </p><br>
        <p><b>These DAPs deliver a spacious & open soundstage</b> that makes you feel you are sitting at a live concert. Experience the magic and delve into pure sonic tranquility! </p><br>
      {% when 'True Wireless Earbuds' %}
        <p>These True Wireless Earbuds are designed for <b>discerning music lovers</b>. If you are someone who cares about audio quality deeply, you'll want a pair of True Wireless Earbuds like these. You can expect them to <b>present a Hi-Fidelity listening experience.</b> </p><br>
        <p>The audio quality exhibited by these True Wireless Earbuds is a <b>beautiful mix of musicality, technical brilliance and high precision</b>. These True Wireless Earbuds deliver a <b>spacious and open soundstage with utmost clarity and detail</b>. Delve into pure sonic bliss with these True Wireless Earbuds! </p><br>

      {% when 'Wireless Headphones' %}

        <p>These Wireless Headphones are designed for <b>discerning music lovers</b>. If you are someone who cares about audio quality deeply, you'll want a pair of Wireless Headphones like these. You can expect them to <b>present a Hi-Fidelity listening experience.</b> </p><br>
        <p>The audio quality exhibited by these Wireless Headphones is a <b>beautiful mix of musicality, technical brilliance and high precision</b>. These Wireless Headphones deliver a <b>spacious and open soundstage with utmost clarity and detail</b>. Delve into pure sonic bliss with these Wireless Headphones! </p><br>

      {% when 'Wireless Earphones' %}
        <p>These Wireless Earphones are designed for <b>discerning music lovers</b>. If you are someone who cares about audio quality deeply, you'll want a pair of Wireless Earphones like these. You can expect them to <b>present a Hi-Fidelity listening experience.</b> </p><br>
        <p>The audio quality exhibited by these Wireless Earphones is a <b>beautiful mix of musicality, technical brilliance and high precision</b>. These Wireless Earphones deliver a <b>spacious and open soundstage with utmost clarity and detail</b>. Delve into pure sonic bliss with these Wireless Earphones! </p><br>
    {% endcase %}

  {%- when 'ideal-for-djs' -%}
    <h6 class="h6">Ideal for DJs</h6>
    <p><b>These headphones are made to provide excellent sound isolation,</b> have a sturdy construction, are portable, and can output loud, clear music. These headphones are what you want if you want "strong," transportable, and fantastic-sounding headphones.</p><br>
    <p>You can count on these headphones to be your dependable travelling companion and to let you express yourself as a DJ. These headphones have a folding design or swivel for one-ear monitoring and convenient portability. They are easy to pair with most types of equipment.</p><br>

  {%- when 'ideal-for-commuting' -%}
    <h6 class="h6">Ideal for Commuting</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p>If you’re someone who enjoys listening to music while commuting. These portable Amps & DACs allow you to <b>listen to your favourite track without compromising on the audio quality</b> </p><br>
      {% when 'Wired Earphones' %}
        <p>If you’re someone who enjoys listening to music while commuting, then you know the value of a good pair of earphones/IEMs. These earphones/IEMs allow you to <b>listen to your favourite track</b> or block out the world for a <b>focused podcast listening experience.</b> </p><br>
        <p>You can expect these earphones/IEMs to offer a <b>seamless connectivity experience</b>. They are <b>lightweight in design</b> and provide <b>noise isolation</b> as an added functionality. </p><br>
      {% when 'Wired Headphones' %}
        <p>If you’re someone who enjoys listening to music while commuting, then you know the value of a good pair of headphones. </p><br>
        <p><b>These headphones allow you to listen to your favourite track, make that important call on the go or even   block out the world for a focused podcast listening experience.</b > </p><br>
        <p>You can expect these headphones to offer a <b>seamless connectivity experience</b>. They are lightweight in design and provide noise isolation as an added functionality. </p><br>
      {% when 'True Wireless Earbuds' %}
        <p>If you’re someone who enjoys listening to music while commuting, then you know the value of a good pair of headphones. </p><br>
        <p><b>These TWS allow you to listen to your favourite track, make that important call on the go or even block out   the world for a focused podcast listening experience.</b > </p><br>
        <p>You can expect these TWS to offer a <b>seamless connectivity experience</b>. They are lightweight in design and provide noise isolation as an added functionality. </p><br>
      {% when 'Digital Audio Players' %}

        <p>If you’re someone who enjoys listening to music while commuting. These portable Digital Audio Players allow you to <b>listen to your favourite track without compromising on the audio quality</b> </p><br>
    {% endcase %}

  {%- when 'ideal-for-the-workplace' -%}
    <h6 class="h6">Ideal for the Workplace</h6>
    <p>These headphones are perfectly suited and designed to <b>listen to music while you are at work</b>, without disturbing your colleagues. If you’re someone who prefers to listen to music while working, then a closed-back wireless headphone would be your best pick.</p><br>
    <p>You can expect these headphones to <b>offer a microphone for communication and isolation so that the sound does not leak and the listening experience is more personal</b>. These headphones are <b>easy to drive and offer plug-and-play convenience</b>, making them ideal audio companions for the workplace.</p><br>

  {%- when 'ideal-for-movies-and-tv' -%}
    <h6 class="h6">Ideal for Movies and TV</h6>
    <p>These headphones are a much-needed addition to your home entertainment system. If you’re someone who is looking to simplify your setup or if you want to enjoy movies and TV shows without disturbing those around you, you have found what you’re seeking. You can expect these headphones to offer advanced audio technologies like surround sound and the ability to control various aspects of sound to help you get the most out of your content. All this in a sleek wireless design, eliminating the need for audio cables.</p><br>

  {%- when 'ideal-for-stage-and-live-shows' -%}
    <h6 class="h6">Ideal for Stage & Live Shows</h6>
    <p>If you are a musician and perform live regularly, you understand the importance of quality monitoring, and these In-Ear Monitors offer just that. In-Ear-Monitors or IEMs are engineered to allow you to hear yourself perform clearly on stage without needing to pump up the volume. You can expect these IEMs and headphones to offer a new way to perform onstage, take back control of your mix, protect your ears and play to a click live, all while presenting pristine audio quality. These are designed to provide isolation and are comfortable for extended hours.</p><br>

  {%- when 'ideal-for-sports-and-gym' -%}
    <h6 class="h6">Ideal for Sports & Gym</h6>
    <p>If you are someone who enjoys listening to music while you exercise, train or play sports, these are designed just for you. <b>These True Wireless Earbuds are engineered with design traits that make them particularly well-suited for an active lifestyle.</b></p><br>
    <p><b>You can expect these True Wireless Earbuds to offer rain and sweat protection with an IPX rating and offer a substantial battery life with quick charge capabilities. </b>These True Wireless Earbuds are comfortable to wear with a snug fit for the ultimate convenience.</p><br>

  {%- when 'ideal-for-casual-music-listening' -%}
    <h6 class="h6">Ideal For Casual Music Listening</h6>
    {% case product.type %}
      {% when 'Wired Earphones' %}
        <p>These earphones/IEMs are your <b>go-to when you want to sit back and relax.</b> If you’re someone who is looking to listen to music without worrying too much about the technicalities, then these are the <b>perfect fit for you. </b> </p><br>
        <p>You can expect these earphones/IEMs to work <b>conveniently and pair with most devices</b> like smartphones and laptops <b>without needing a DAC & Amp.</b> These offer the <b>ultimate convenience,</b> but we believe that if you care about an immersive listening experience and audio quality, these are not for you! </p><br>
      {% when 'Wired Headphones' %}
        <p><b>These headphones are your go-to when you want to sit back and relax.</b> If you’re someone who is looking to listen to music without worrying too much about the technicalities, then these are the perfect fit for you. </p><br>
        <p><b>You can expect these headphones to work conveniently and pair with most devices like smartphones and   laptops without needing a DAC or an Amp.</b > </p><br>
        <p>These offer the <b>ultimate convenience,</b> but we believe that if you care about an immersive listening experience and audio quality, these are not for you! </p><br>
      {% when 'True Wireless Earbuds' %}
        <p><b>These True Wireless Earbuds are your go-to when you want to sit back and relax.</b>If you’re someone who is looking to listen to music without worrying too much about the technicalities, then these are the perfect fit for you. </p><br>
        <p><b>You can expect these TWS to work conveniently and pair with most devices like smartphones and laptops.</b> </p><br>
        <p>These offer the <b>ultimate convenience,</b> but we believe that if you care about an immersive listening experience and audio quality, these are not for you! </p><br>
    {% endcase %}

  {%- when 'ideal-for-long-flight' -%}
    <h6 class="h6">Ideal for Long Flight</h6>
    <p>These headphones are a <b>perfect match for your jet-setting lifestyle.</b> If you’re someone who is a frequent flyer and needs to listen to your favourite music or podcast, then these are perfect with their <b>ANC (Active Noise Cancellation) features and portable design.</b></p><br>
    <p>You can expect these headphones to <b>quickly pair with various devices like a Laptop, Smartphone or even your Tablet</b> allowing you to zone in on your music. If there’s one thing you should never forget for a long-distance flight, it’s your headphones!</p><br>

  {%- when 'ideal-for-travel' -%}
    <h6 class="h6">Ideal for Travel</h6>
    {% case product.type %}
      {% when 'True Wireless Earbuds' %}
        <p>If you’re someone who enjoys listening to music and travelling, then you know how a pair of good <b>True Wireless Earbuds can be a total game-changer for your travel.</b> </p><br>
        <p>These True Wireless Earbuds are <b>designed to sound great, are portable and offer long battery life.</b> They are <b>lightweight in design and provide noise isolation or noise cancellation</b> as an added functionality. </p><br>
        <p>Also, to keep you aware of your surroundings some <b>True Wireless Earbuds do come with transparency mode.</b> If you’re someone who enjoys listening to music while travelling, these are for you! </p><br>
        <p>You can expect these True Wireless Earbuds to have seamless connectivity and great sound while being portable and sturdy. They say the best way to cut time is to read a book, but a pair of True Wireless Earbuds add to that too! </p><br>
      {% when 'Wireless Headphones' %}
        <p>If you’re someone who enjoys listening to music and travelling, then you know how a pair of good headphones can be a total <b>game-changer for your travel.</b> These headphones are <b>designed to sound great, are portable and offer long battery life.</b> If you’re someone that enjoys listening to music while travelling, these are for you! </p><br>
        <p>You can expect these headphones to have <b>seamless connectivity and great sound while being portable and sturdy.</b> They say the best way to cut time is to read a book, but a pair of headphones add to that too! </p><br>
    {% endcase %}

  {%- when 'tangle-free-cables' -%}
    <h6 class="h6">Tangle-Free Cables</h6>
    {% case product.type %}
      {% when 'Wired Headphones' %}
        <p>Every time you reach for headphone cables to connect them to your headphones, no matter how neatly you "wrapped" them up, they end up in a giant Gordian knot of frustration. </p><br>
        <p>Tangled cables are the bane of modern existence, and everyone owning a wired pair of headphones can attest to this. With advances in cable-making techniques and radical approaches to manufacturing, <b>there are now several solutions to this universal problem.</b> </p><br>
        <p><b>You get Flat cables, Mesh Design cables, cables coated with exterior covers and cables designed with a   zipper style design to avoid tangling and attempt to solve the issue.</b > </p><br>
      {% when 'Wired Earphones' %}
        <p>Every time you reach for earphone/IEM cables to connect them to your earphones/IEM, no matter how neatly you "wrapped" them up, they end up in a giant Gordian knot of frustration. Tangled cables are the bane of modern existence, and everyone owning a wired pair of earphones/IEM can attest to this. </p><br>
        <p>With advances in cable-making techniques and radical approaches to manufacturing, there are now several solutions to this universal problem. <b>You get Flat cables, Mesh Design cables, cables coated with exterior covers and cables designed with a   zipper style design</b > to avoid Tangle and attempt to solve the issue. </p><br>
    {% endcase %}

  {%- when 'volume-controls' -%}
    <h6 class="h6">Volume Controls</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p>If your DAC & Amps include volume controls or volume rockers, you can easily change the volume with a button press or volume knob turn. </p><br>
        <p>DAC & Amps that have volume controls make its operation incredibly simple; turn up the volume on your smartphone or your source devices and then change the volume on DAC & Amps to the desired level. </p><br>
        <p>This design feature allows you to have complete control over the desired volume according to your listening preferences. </p><br>
      {% when 'Digital Audio Playerss' %}
        <p>If your DAPs include volume controls or volume rockers, you can easily change the volume with a button press or volume knob turn. </p><br>
        <p>DAPs that have volume controls make its operation incredibly simple allowing you to set the volume at a desired level. This design feature allows you to have complete control over the desired volume according to your listening preferences. </p><br>
    {% endcase %}

  {%- when 'works-with-android-and-ios' -%}
    <h6 class="h6">Works with Android & iOS</h6>
    <p>One thing all of our phones have in common is that they have replaced the portable media player. These headphones and devices are perfect to pair with your Android and iOS devices and offer functionality previously unknown. If you’re someone who usually switches between a variety of devices with different OS, then these are suited for you. You can expect these headphones and devices to connect seamlessly without any hassle and even offer OS-specific functionality depending on the device. Headphones and devices designed to work with Android and iOS come in wired and wireless formats. Quite often you will also find Hi-Fi equipment offering direct connectivity to devices with Android and iOS to simplify the connectivity process.</p><br>

  {%- when 'works-with-android' -%}
    <h6 class="h6">Works with Android</h6>
    <p>The way we listen to our music has evolved, and streaming services have replaced the USB cable for almost everyone. Understanding this shift in how people consume music, these headphones and devices are designed to offer straightforward connectivity, and if you’re someone who uses an Android device to listen to music and watch videos, then these are for you. Many headphones and devices have been engineered to shine when paired with an Android system and offer Android-specific functionality. Headphones and devices designed to work with Android come in wired and wireless formats. Quite often you will also find Hi-Fi equipment offering direct connectivity to devices with Android OS to offer a convenient operating experience.</p><br>

  {%- when 'works-with-ios' -%}
    <h6 class="h6">Works with iOS</h6>
    <p>The way we listen to our music has evolved, and streaming services have replaced the USB cable for almost everyone. Understanding this shift in how people consume music, these headphones and devices are designed to offer straightforward connectivity, and if you’re someone who uses an iOS device to listen to music and watch videos, then these are for you. Many headphones and devices have been engineered to shine when paired with an iOS system and offer iOS-specific functionality. Headphones and devices designed to work with iOS come in wired and wireless formats. Quite often you will also find Hi-Fi equipment offering direct connectivity to devices with iOS to offer a convenient operating experience.</p><br>

  {%- when 'hours-of-battery-life' -%}
    <h6 class="h6">Battery Life</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p>DAC & Amps with built-in batteries offer easy operation without the annoyance of wires.</p><br>
        <p>Battery life is a measurement of battery performance. It is the amount of time your DAC & Amps will still have enough juice to power your headphones or IEMs. It can be summed up; as how long a battery will last before your DAC & Amps need to be recharged. </p><br>
        <p>Nothing interferes with your music, thanks to the high-performance and long-lasting battery. No interruptions, just pure sonic bliss! </p><br>
      {% when 'Digital Audio Players' %}
        <p>DAPs with built-in batteries offer easy operation without the annoyance of wires.</p><br>
        <p>Battery life is a measurement of battery performance. It is the amount of time your DAPs will still have enough juice to power your headphones or IEMs. It can be summed up; as how long a battery will last before your DAPs need to be recharged. </p><br>
        <p>Nothing interferes with your music, thanks to the high-performance and long-lasting battery. No interruptions, just pure sonic bliss! </p><br>
      {% when 'True Wireless Earbuds' %}
        <p>True Wireless Earbuds have built-in batteries in the earpieces as well as in the case that they come with. These together offer easy operation. </p><br>
        <p>Battery life is a measurement of battery performance. It is the amount of time your True Wireless Earbud or its case will still have enough power. It can be summed up; as how long a battery will last before your True Wireless Earbuds and its case need to be recharged. </p><br>
        <p>Nothing interferes with your music, thanks to the high-performance and long-lasting battery. No interruptions, just pure sonic bliss! </p><br>
      {% when 'Wireless Headphones' %}
        <p>Wireless headphones have built-in batteries in the earcups, so these headphones do not need external power to play music. </p><br>
        <p>Battery life is a measurement of battery performance. It is the amount of time your Wireless headphones will have enough power. It can be summed up; as how long a battery will last before your Wireless headphones need to be recharged. </p><br>
        <p>Nothing interferes with your music, thanks to the high-performance and long-lasting battery. No interruptions, just pure sonic bliss! </p><br>
    {% endcase %}

  {%- when 'use-wirelessly-with-bluetooth' -%}
    <h6 class="h6">Use Wirelessly with Bluetooth</h6>
    <p>With headphone jacks now becoming a relic of the past, these headphones and devices will connect to your phone
      wirelessly, rather than a cable. Bluetooth connectivity with devices offers wireless freedom and fuss-free
      usability with top-quality sound. The freedom to use these headphones and devices with Bluetooth make talking and
      listening to music on the go easy. Headphones and devices with Bluetooth connectivity are designed for all-day
      wear, making them ideal for frequent users both inside and outside a work environment.</p><br>

  {%- when 'active-noise-cancellation' -%}
    <h6 class="h6">Active Noise Cancellation</h6>
    <p>Everyone enjoys a little peace at some point and wants to shut themselves off from the outside world. This is where Active Noise Cancellation (ANC) comes into the picture. So what exactly is Active Noise Cancellation?</p><br>
    <p><b>Noise Cancellation refers to blocking out background noise/ambient noise</b>. But let's be clear: No Noise-Cancelling {{ product.type }} can eliminate all sound; they can only considerably reduce outside noise, creating the impression that the noise is suppressed. However, when the phrase "Active Noise Cancellation" is used, it signifies that the {{ product.type }} are actively searching for noise to block it out.</p><br>
    <p><b>ANC is a technology that reduces or cancels out the surrounding or ambient noise</b>. It reduces low-frequency noise like the sound of a jet engine or car engine. ANC specifically reduces low-frequency noise well. However, it is not capable of cancelling out high-frequency noise optimally. {{ product.type }} with ANC deliver class-leading ambient noise reduction, significantly improving sound quality.</p><br>
    <p>If you're someone who is a frequent flyer, ANC helps eliminate constant droning noises from jet engines so you can sleep more easily during long-haul flights.</p><br>

  {%- when 'wireless-range-of-x-feet' -%}
    <h6 class="h6">Wireless Range</h6>
    <p>You must have most likely noticed that wireless signals do not travel an infinite distance. The farther a wireless signal goes, the weaker it gets. This loss is known as path loss, and it defines the range of connectivity. This range of connectivity is dependent on the wireless protocol in use like Bluetooth. Three classes offer standard ranges of connectivity with Class 1 devices transmitting at 100 mW with a range of 100 meters or 328 feet. Most Bluetooth headsets and headphones are Class 2 devices that transmit at 2.5 mW with a range of 10 meters or 33 feet. Lastly, Class 3 devices transmit at 1 mW with a range of fewer than 10 meters.</p><br>

  {%- when 'multi-point-connection' -%}
    <h6 class="h6">Multi-point Connection</h6>
    {% case product.type %}
      {% when 'True Wireless Earbuds' %}
        <p>Bluetooth multipoint technology was introduced with the release of Bluetooth 4.0, over a decade ago. <b>It’s a feature that allows True Wireless Earbuds to maintain simultaneous connections to at least two   source devices like a laptop and smartphone.</b > </p><br>
        <p>Multipoint allows you to <b>seamlessly switch between devices,</b> such as a computer and phone, without touching your devices. Multipoint technology is a great asset to increase productivity and convenience as you go through your daily life - from home to work. The simultaneous playback of audio from two devices is not possible with Multipoint, though. </p><br>
        <p>In simple terms, <b>Multipoint enables you to maintain a connection to two of your favourite, often-used devices at the same   time.</b > It is a great functionality allowing you to multitask without the hassle of tweaking the settings of Bluetooth. </p><br>
      {% when 'Wireless Headphones' %}
        <p>Bluetooth multipoint technology was introduced with the release of Bluetooth 4.0, over a decade ago. <b>It’s a feature that allows Wireless headphones to maintain simultaneous connections to at least two source   devices like a laptop and smartphone.</b > </p><br>
        <p>Multipoint allows you to <b>seamlessly switch between devices,</b> such as a computer and phone, without touching your devices. Multipoint technology is a great asset to increase productivity and convenience as you go through your daily life - from home to work. The simultaneous playback of audio from two devices is not possible with Multipoint, though. </p><br>
        <p>In simple terms, <b>Multipoint enables you to maintain a connection to two of your favourite, often-used devices at the same   time.</b > It is a great functionality allowing you to multitask without the hassle of tweaking the settings of Bluetooth. </p><br>
      {% when 'Amps & DACs' %}
        <p>Bluetooth multipoint technology was introduced with the release of Bluetooth 4.0, over a decade ago. <b>It’s a feature that allows Amps & DACs to maintain simultaneous connections to at least two source devices   like a laptop and smartphone.</b > </p><br>
        <p>Multipoint allows you to <b>seamlessly switch between devices,</b> such as a computer and phone, without touching your devices. Multipoint technology is a great asset to increase productivity and convenience as you go through your daily life - from home to work. The simultaneous playback of audio from two devices is not possible with Multipoint, though. </p><br>
        <p>In simple terms, <b>Multipoint enables you to maintain a connection to two of your favourite, often-used devices at the same   time.</b > It is a great functionality allowing you to multitask without the hassle of tweaking the settings of Bluetooth. </p><br>
    {% endcase %}

  {%- when 'use-x-voice-assistant' -%}
    <h6 class="h6">Voice Assistant</h6>
    <p>These {{ product.type }} offer you the <b>convenience and functionality of using Voice assistants like Google Assist and Siri</b> (dependent on your source device, be it Android or iOS) without having to disconnect them from your source device.</p><br>
    <p>If you’re someone who summons the voice assistant on your device regularly to accomplish tasks, then these {{ product.type }} are designed to be your friend.</p><br>
    <p>You can expect these {{ product.type }} to come equipped with a high-quality microphone to activate your voice assistant and mediate your voice commands. There is no complication or hassle as these {{ product.type }} come with seamless support for voice commands.</p><br>

  {%- when 'gesture-controls' -%}
    <h6 class="h6">Gesture Controls</h6>
    <p><b>Gestures Controls in {{ product.type }} give you control of various functions at the tip of your finger (literally).</b> The easy-to-use touch control interface allows intuitive gesture controls for volume and music playback – <b>you can swipe forward/backwards to switch tracks and up/down to adjust volume (may vary with devices).</b></p><br>
    <p><b>With Gesture controls onboard you don’t have to reach for your source device to execute simple tasks.</b> This elevates the listening experience.</p><br>

  {%- when 'open-back-design' -%}
    <h6 class="h6">Open-Back Design</h6>
    {% case product.type %}
      {% when 'Wired Headphones' %}
        <p><b>Headphones with an open-back design, allow air to pass through the earcups</b>. This means that <b>Open-Backs do not block any noise from around you</b>, as closed-backs do, and music <b>being heard will also leak outside to people around you</b>. So they can only be heard in a quiet environment. </p><br>
        <p>However, <b>Open-back headphones do sound more natural and open</b>. Open-back headphones create a feeling of space, presenting audio as if you are sitting at a live concert. <b>Audiophiles swear by open-back headphones, and they sound quite different to closed-backs.</b> </p><br>
        <p>These headphones are <b>perfect for critical listening sessions, mixing and mastering music.</b> They have an <b>accurate soundstage presentation and precise imaging.</b> </p><br>
      {% when 'Wired Earphones' %}
        <p>Earphones/IEMs with an open-back design are unique, <b>allowing air to pass through the shells</b>. What this means is that since open-back earphones/IEMs do not block surrounding noises as closed-backs do, you will be able to <b>enjoy an immersive listening experience</b>. The <b>sound is more natural and Hi-Fidelity</b> due to the lack of pressure build-up. </p><br>
        <p>Open-back earphones/IEMs create a <b>feeling of space, presenting audio as if you are sitting at a live concert</b>. These earphones/IEMs are <b>perfect for critical listening sessions and mixing and mastering music</b> due to their <b>accurate soundstage presentation and precise imaging.</b> </p><br>
    {% endcase %}

  {%- when 'closed-back-design' -%}
    <h6 class="h6">Closed-Back Design</h6>
    {% case product.type %}
      {% when 'Wired Earphones' %}
        <p>Closed-Back design earphones/IEMs are completely sealed around the earpiece <b>completely sealed around the earpiece, </b>allowing the sound to travel directly into your ears. This means that <b>closed-back earphones/IEMs block out more outside noise, yielding much better isolation.</b> </p><br>
        <p>The main advantage of closed-back earphones/IEMs is that they <b>isolate you from the outside world, allowing you to concentrate solely on the music.</b> </p><br>
        <p>Closed-back earphones/IEMs usually provide a <b>better bass extension,</b> as open-backs traditionally struggle in the lows. All in all, these are excellent options for <b>music listening and even stage performances.</b> </p><br>
      {% when 'Wired Headphones' %}
        <p><b>Headphones with a Closed-Back design are completely sealed around the ear cup</b>, allowing the sound to travel directly into your ears. This means that <b>closed-back headphones block out outside noise, giving much better isolation, and minimising sound leakage</b > to those around you. </p><br>
      {% when 'Wireless Headphones' %}
        <p><b>Headphones with a Closed-Back design are completely sealed around the ear cup</b>, allowing the sound to travel directly into your ears. This means that <b>closed-back headphones block out outside noise, giving much better isolation, and minimising sound leakage</b > to those around you. </p><br>
    {% endcase %}

  {%- when 'best-suited-for-portable-use' -%}
    <h6 class="h6">Best Suited for Portable Use</h6>
    {% case product.type %}
      {% when 'Amps & DACs' %}
        <p>For those who value them, being able to carry their favourite DAC & Amp equipment when they are on the move is invaluable. </p><br>
        <p><b>These DAC & Amps offer the ultimate portability experience without sacrificing sound quality.</b> If you’re someone who appreciates cutting-edge engineering, quality sound and portability, then look no further. </p><br>
        <p>Designed to be trusty companions, these DAC & Amps are cleverly engineered with the latest technology to offer the ultimate combination of portability & Hi-Fidelity! </p><br>
      {% when 'Wired Headphones' %}
        <p>The ability to carry your favourite headphones around is priceless for those who value them.<b>   These headphones offer the ultimate portability experience without sacrificing sound quality.</b > </p><br>
        <p><b>If you’re someone who appreciates cutting-edge engineering, quality sound and portability, look no further.</b > These headphones are <b>designed to be trusty companions</b> and are <b>cleverly engineered</b> with the latest technology to offer the ultimate combination of portability + Hi-Fidelity. </p><br>
      {% when 'Digital Audio Players' %}
        <p>For those who value them, being able to carry their favourite DAP when they are on the move is invaluable. </p><br>
        <p>These DAPs offer the ultimate portability experience without sacrificing sound quality. If you’re someone who appreciates cutting-edge engineering, quality sound and portability, then look no further. </p><br>
        <p>Designed to be trusty companions, these DAPs are cleverly engineered with the latest technology to offer the ultimate combination of portability & Hi-Fidelity! </p><br>
      {% when 'Wired Earphones' %}
        <p>The ability to carry your favourite earphones/IEMs around is priceless for those who value them. These earphones/IEMs offer the <b>ultimate portability experience without sacrificing sound quality.</b </p><br><br>
        <p>If you’re someone who appreciates <b>cutting-edge engineering, quality sound and portability, look no further. </b>These earphones/IEMs are designed to be trusty companions and are cleverly engineered with the latest technology to offer the <b>ultimate combination of Portability & Hi-Fidelity.</b>
        </p>
    {% endcase %}

  {%- when 'replaceable-x-cables' -%}
    <h6 class="h6">Replaceable Cables</h6>
    <p>A pair of headphones with a replaceable cable has many benefits, and one of them is if the connecting cable has a problem, it doesn’t mean that you have to buy a new one. If the connecting cable gets pulled or damaged, you can replace it and keep using your good-old headphones or IEMs. This way, your headphones will be protected and will last longer. With the advancements in cable manufacturing, you now get a variety of replacement cables with various termination options, lengths and quality.</p><br>

  {%- when 'electrostatic-drivers' -%}
    <h6 class="h6">Electrostatic Drivers</h6>
    <p>Electrostatic drivers use the concept of static electricity (i.e., no moving charges) to create an electric field, as opposed to drivers that work by electromagnetic force. These drivers are capable of capturing even the minutest details in your recordings. Electrostatic drivers are known for lending excellent details, treble extension and "wide" frequency response.</p><br>

  {%- when 'planar-magnetic-drivers' -%}
    <h6 class="h6">Planar Magnetic Drivers</h6>
    <p>Planar magnetic drivers combine characteristics of several driver types. They employ magnetic fields akin to dynamic and balanced armature drivers. However, planar magnetic drivers, like electrostatic drivers, use a flat, thin diaphragm in contrast to a coil. The planar drivers are known for their quick transient response.</p><br>

  {%- when 'needs-amplification' -%}
    <h6 class="h6">Needs Amplification</h6>
    {% case product.type %}
      {% when 'Wired Earphones' %}
        <p>If you plug your wired earphones/IEMs directly into your phone or laptop, you are probably not <b>hearing them at their best</b>. This usually happens because the amplifier in your phone or laptop is not capable enough; to <b>drive your earphones/IEMs to their full potential.</b> </p><br>
        <p><b>A dedicated headphone amplifier</b> is an <b>elegant solution which can power your wired earphones/IEMs to their maximum capability.</b> When you invest in a good pair of wired earphones/IEMs that are hard to drive, it is <b>ideal to get a dedicated "amp" that will make your earphones/IEMs sound even better.</b> </p><br>
      {% when 'Wired Headphones' %}
        <p>Headphones and IEMs require a certain level of power to sound their best and work at their full potential. <b>When your headphones or IEMs are underpowered, they can sound thin or muffled.</b> </p><br>
        <p><b>Amplifiers are required to provide adequate power to your headphone or IEMs</b> to perform at their best. Simply put, amplifiers allow a weak audio signal to be boosted to a powerful one. </p><br>
        <p>To put it into perspective, <b>devices such as your phones and laptops come with an amplifier, but they offer very limited output power.</b > This output may not be sufficient to power headphones and IEMs to shine at their best. <b>This is where a dedicated amplifier is required to deliver adequate power to hear your music in all its   glory.</b > </p><br>
    {% endcase %}

  {%- when 'surround-sound' -%}
    <h6 class="h6">Surround Sound</h6>
    <p>If you’re someone who wants to immerse yourself in every nuance in your most cherished tracks, or reach a new level of alertness in your favourite video game, Surround Sound technology brings you closer to your audio than ever before. Headphones with Surround Sound technology present an immersive and cinema-quality surround sound without the need for multiple speakers. There are several headphones and types of audio equipment that offer support for the Surround sound experience</p><br>

  {%- when 'ideal-for-pc-gaming' -%}
    <h6 class="h6">Ideal for PC Gaming</h6>
    <p>Sometimes, {{ product.type }} embed a built-in microphone or have input for a microphone so you can use it while gaming. If you are someone working from home, or a professional gamer, you'll benefit from a DAC & Amp with a microphone.</p><br>
    <p>You can expect these {{ product.type }} to offer <b>microphone quality and clear audio</b> so that teammates can hear you at the other end. Just plug them in, and game your way to victory!</p><br>

  {%- when 'discord-certified' -%}
    <h6 class="h6">Discord Certified</h6>
    <p>Discord Certified headphones and headsets have to undergo 4 crucial tests to obtain the coveted certification. The tests are strictly maintained with proper guidelines and every testing of any form factors like audio, microphone, external and bug fixing is well maintained. That’s why discord-certified headphones have great value. If you have a discord certified headset, it will give you a clear indication of the audio quality and an understanding of how it interacts with Discord.</p><br>

  {%- when 'ideal-for-nintendo-switch' -%}
    <h6 class="h6">Ideal for Nintendo Switch</h6>
    <p>These headphones help you get more from your console whether you are gaming on the go or at home. If you’re someone who is looking to reinvigorate your setup with some quality audio, look no further. With these headphones, you can hear your environment and your allies with pristine clarity, without worrying about charging or compatibility issues. These usually come in a wired format, but you can get wireless ones too. Get a pair of these and change your perception of playing games on a console!</p><br>

  {%- when 'ideal-for-ps4' -%}
    <h6 class="h6">Ideal for PS4</h6>
    <p>If you’re someone who plays games on the Play Station 4, then you know how a good pair of headphones can enhance your experience. These headphones are designed to pair seamlessly with the PS4 without any hassle, and you can expect them to deliver an enveloping auditory experience that is in tune with your gameplay. These headphones are comfortable to wear with their lightweight design and come embedded with a quality microphone to discuss your gameplay with your teammates. If you play games on the PS4, getting one of these is highly recommended!</p><br>

  {%- when 'ideal-for-xbox' -%}
    <h6 class="h6">Ideal for Xbox</h6>
    <p>If you’re someone who plays games on the Xbox primarily, then you have found a perfect match. These headphones provide an impressive, immersive sound and microphone quality with seamless connectivity with the Xbox console. You can expect these headphones to have a sturdy build quality with a great sound and microphone. We recommend you shouldn’t settle for any regular pair of headphones with fuzzy subpar audio when you can get one of these.</p><br>

  {%- when 'compatible-with-mac' -%}
    <h6 class="h6">Compatible with MAC</h6>
    <p>These {{ product.type }} are engineered to offer connectivity with mac with top-quality audio. If you’re someone who operates on the Mac ecosystem, then these are a great match. You can expect these {{ product.type }} to offer plug-and-play capability for the most part, and in extreme cases, a dedicated driver will solve compatibility issues, if any.</p><br>

  {%- when 'two-way-speaker' -%}
    <h6 class="h6">Two Way Speaker</h6>
    <p>A two-way loudspeaker has two speakers in it, each meant to present a frequency selection, usually high and low. A two-way speaker has two types of drivers which are known as a woofer and tweeter. The advantages of a two-way speaker are that it requires a simple crossover, small and compact and requires low amplification power. The performance of the music is relatively focused and balanced with low distortion. The general bookshelf speakers are two-way speakers.</p><br>

  {%- when 'three-way-speaker' -%}
    <h6 class="h6">Three-Way Speaker</h6>
    <p>A three-way audio speaker produces sound from three separate drivers called the mid-woofer, woofer and tweeter drivers, each of which has its efficiency in a specific range of frequencies. Because the drivers are optimised to work in a given frequency range, the speaker delivers more accurate sound compared to a single, general-purpose driver for all audio frequencies. Due to the ability to split frequencies and run in specified ranges, a three-way speaker can produce a fuller and more immersive audio experience.</p><br>

  {%- when 'four-way-speaker' -%}
    <h6 class="h6">Four-Way Speaker</h6>
    <p>Four-way speakers utilise two tweeters, a mid-range cone, and a woofer to deliver audio. The extra tweeter provides a 4-way speaker to present a detailed higher range of the sound, thus, improving the quality of your listening experience. As four-way speakers with their four drivers can focus on specific frequency ranges the speakers deliver a vivid and highly detailed sound.</p><br>

  {%- when 'pair-with-turntable' -%}
    <h6 class="h6">Pair with Turntable</h6>
    <p>If you are a purist and listen to music on vinyl on your turntable, then you know it is a unique experience. As a turntable operates in the analogue domain, it requires specific devices like phono stages, to elevate the listening experience to the next level. You would also have to consider compatible speakers and headphones to listen to your favourite tracks, and these are designed to pair seamlessly with your turntable.</p><br>

  {%- when 'pairs-with-an-amp' -%}
    <h6 class="h6">Pairs with an Amp</h6>
    <p>Certain headphones and devices need an extra push of raw power to reach their full potential. This is because the headphones may have a higher impedance or devices like speakers or turntables need to be paired with an amplifier to hear music audibly. Pairing a headphone or a specific device to an amp essentially opens up the possibility to drive the gain (volume) to the maximum potential without introducing distortion or artefacts.</p><br>

  {%- when 'pair-with-laptop-via-usb' -%}
    <h6 class="h6">Pair with Laptop via USB</h6>
    <p>A majority of people use a laptop as the primary source device to listen to music or watch movies. Since the laptop is an essential part of the audio chain there are headphones and devices designed to work a laptop or computer system flawlessly. With the availability of USB connectivity, it becomes easier to pair various devices like an Amp, DAC or even headphones without worrying about drivers or any additional piece of software.</p><br>

  {%- when 'pair-with-television-via-hdmi' -%}
    <h6 class="h6">Pair with Television via HDMI</h6>
    <p>The television is at the centre of our house when it comes to home entertainment. Being aware of the fact that most televisions don’t have high fidelity speakers there are devices made specifically to solve this issue for an immersive audio experience. Devices like a Bluetooth transmitter and even power amplifiers allow you to connect to your Television via an HDMI connector and output the audio in the highest quality possible. These devices are designed to enhance the capability of your television and present an immersive listening experience.</p><br>

  {%- when 'two-way-active-bookshelf-speaker' -%}
    <h6 class="h6">Two Way Active Bookshelf Speaker</h6>
    <p>Active speakers are engineered to have amplifiers built-in to them and they have one dedicated for each of the two drivers. So, a two-way speaker with one tweeter and one mid/bass driver unit will have two power amplifier modules, one for each driver (or 'way'). These speakers are fed by an 'active' powered crossover that works at a much lower voltage, which means the components can be optimised for precision rather than pure power handling, resulting in a potentially better integrated, more precise sound.</p><br>

  {%- when 'extra-bass-sound-signature' -%}
    <h6 class="h6">Extra Bass Sound Signature</h6>
    <p>{{ product.type }} with this sound signature present a punchy and exciting listening experience. The bass is louder than the other sounds, making the music sound energetic. This sound signature is enjoyed by bassheads who like their music with a lot of depth and oomph and are well suited for genres like Electronica, Hip-Hop, EDM and R&B. The sounds that focus the most on the bass are an inseparable part of modern music.</p><br>

  {%- when 'v-shaped-sound-signature' -%}
    <h6 class="h6">V-Shaped Sound Signature</h6>
    <p>{{ product.type }} with a V-Shaped sound signature present an exciting and energetic listening experience with punchy bass and a sparkling shine. Listening to music on headphones with a V-shaped sound signature is stimulating as the audio seems brighter and pleasing to our ears. This happens because the booming bass and sparkling highs are the great formulae for breathing a new life into your music. This sound signature is preferred by music listeners favouring an exhilarating sound and is well suited for music genres like Rock, Pop and Bollywood.</p><br>

  {%- when 'balanced-sound-signature' -%}
    <h6 class="h6">Balanced Sound Signature</h6>
    <p>{{ product.type }} with a Balanced sound signature presents a precise sound and an enriching listening experience, where sounds are naturally presented without extreme emphasis on any region. With a pair of headphones with this sound signature, you can hear audio with clarity and detail. The sound is vivid and revealing, a perfect mixture of instruments and vocals, lows, mids, and highs. This sound signature works for most music listeners who like switching between various music genres like Classical, Jazz, Blues, Rock, Folk and Pop.</p><br>

  {%- when 'flat-sound-signature' -%}
    <h6 class="h6">Flat Sound Signature</h6>
    <p>A Flat sound signature offers an accurate presentation of sounds without adding colour to your music. Simply put, this sound signature presents audio without boosting any frequencies. As a result, it’s the most natural-sounding signature and provides the closest reproduction of how a track was recorded and produced. Due to their accurate sound reproduction, flat sound signature headphones are preferred by Music professionals, Sound Engineers and used in professional studios for mixing and mastering music tracks and are also loved by audiophiles for immersive listening sessions. You can listen to Classical, Rock, Jazz, Blues, Folk & possibly every genre in music.</p><br>

  {%- when 'bright-sound-signature' -%}
    <h6 class="h6">Bright Sound Signature</h6>
    <p>{{ product.type }} with a Bright sound signature present a highly revealing sound, allowing you to hear every detail in the music. This sound signature gives your music a sense of clarity and shine and is suited for almost every genre of music like Classical, Rock and Jazz. This signature is suitable for people who are seeking micro details in audio tracks like Music professionals, Sound Engineers, Audiophiles, and general music enthusiasts who enjoy picking elements of music tracks apart. They’re suitable for both music and professional work.</p><br>

  {%- when 'warm-and-smooth-sound-signature' -%}
    <h6 class="h6">Warm & Smooth Sound Signature</h6>
    <p>{{ product.type }} with a Warm & Smooth sound signature deliver a relaxed sound that does not overwhelm. This type of sound signature typically reproduces a sound that gives your music a distinctly warm and soothing quality. Vocals and instruments like the saxophone, cello, and piano sound particularly good with this sound signature and is pleasant to listen to music for extended periods. This sound signature is well suited for music listeners who prefer something easy on the ears and listen to genres like Jazz, Blues, R&B and rock sub-genres.</p><br>

  {%- when 'x-dac-chip' -%}
    <h6 class="h6">DAC Chip</h6>
    <p>You may not even realise it, but most of us use a digital-to-analogue converter (commonly known as a DAC) daily. Built into your computers, tablets and smartphones, a DAC is fundamental to unlocking the convenience of digital music. Any device that acts as a digital sound source will need a DAC to convert digital audio to analog. A DAC converts the digital information stored in “0s and 1s” into an analog signal that's passed to speakers or headphones and ultimately our ear. In short, DACs play a large part in making digital music hearable.<br><br> While this technical process is undoubtedly impressive, the DAC embedded into your smartphones or laptops is nowhere good enough to listen to your favourite music recordings in high quality. So, if you want to listen to music in high quality, an external DAC is essential to allow headphones or speakers to perform at their potential. An external DAC, first and foremost, will improve audio quality dramatically.</p>

  {%- when 'x-dual-dac-chip' -%}
    <h6 class="h6">DAC Chip</h6>
    <p>You may not even realise it, but most of us use a digital-to-analogue converter (commonly known as a DAC) daily. Built into your computers, tablets and smartphones, a DAC is fundamental to unlocking the convenience of digital music. Any device that acts as a digital sound source will need a DAC to convert digital audio to analog. A DAC converts the digital information stored in “0s and 1s” into an analog signal that's passed to speakers or headphones and ultimately our ear. In short, DACs play a large part in making digital music hearable.<br><br> While this technical process is undoubtedly impressive, the DAC embedded into your smartphones or laptops is nowhere good enough to listen to your favourite music recordings in high quality. So, if you want to listen to music in high quality, an external DAC is essential to allow headphones or speakers to perform at their potential. An external DAC, first and foremost, will improve audio quality dramatically.</p>

  {%- when 'Young Maverick' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['young-maverick-brand'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['young-maverick-brand'].body.value }}

  {%- when 'Type-c' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['type-c'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['type-c'].body.value }}

  {%- when 'Dream Fit' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['dream-fit'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['dream-fit'].body.value }}

  {%- when 'Commuting ' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.commuting.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.commuting.body.value }}

  {%- when 'Enthusiasts' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.enthusiasts.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.enthusiasts.body.value }}

  {%- when 'Value for Money' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['value-for-money'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['value-for-money'].body.value }}

  {%- when 'Community Fav' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['community-fav'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['community-fav'].body.value }}

  {%- when 'Premium Economy' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['premium-economy'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['premium-economy'].body.value }}

  {%- when 'For Beginners' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['for-beginners'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['for-beginners'].body.value }}

  {%- when 'Serious Audiophiles' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['serious-audiophiles'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['serious-audiophiles'].body.value }}

  {%- when 'Worth It' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['worth-it'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['worth-it'].body.value }}

  {%- when 'Calls' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.calls.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.calls.body.value }}

  {%- when 'Upgraded Cable' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['upgraded-cable'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['upgraded-cable'].body.value }}

  {%- when 'Gaming' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.gaming.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.gaming.body.value }}

  {%- when 'Studio Professionals' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['studio-professionals'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['studio-professionals'].body.value }}

  {%- when 'DJs' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.djs.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.djs.body.value }}

  {%- when 'Workplace' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.workplace.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.workplace.body.value }}

  {%- when 'Movies TV' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['movies-tv'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['movies-tv'].body.value }}

  {%- when 'Stage Shows' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['stage-shows'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['stage-shows'].body.value }}

  {%- when 'Lightweight' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.lightweight.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.lightweight.body.value }}

  {%- when 'Metal Build' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['metal-build'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['metal-build'].body.value }}

  {%- when 'Open Back' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['open-back'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['open-back'].body.value }}

  {%- when 'Closed Back' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['closed-back'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['closed-back'].body.value }}

  {%- when 'Cult' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.cult.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.cult.body.value }}

  {%- when 'Tweak Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['tweak-sound'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['tweak-sound'].body.value }}

  {%- when 'Team Fav' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['team-fav'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['team-fav'].body.value }}

  {%- when 'Popular' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.popular.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.popular.body.value }}

  {%- when 'Subwoofer' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['subwoofer-out'].header.value }}</h6>
        {{ shop.metaobjects.snapshot_popover['subwoofer-out'].body.value }}

  {%- when 'Speaker Driver' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['tweeter-driver'].header.value }}</h6>
        {{ shop.metaobjects.snapshot_popover['tweeter-driver'].body.value }}

  {%- when 'Analyse Music' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['analyse-music'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['analyse-music'].body.value }}

  {%- when 'Sparkly' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.sparkly.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.sparkly.body.value }}

  {%- when 'Crisp Vocals' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['crisp-vocals'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['crisp-vocals'].body.value }}

  {%- when 'Balanced Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['balanced-sound'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['balanced-sound'].body.value }}

  {%- when 'Vocal Forward Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['vocal-forward-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['vocal-forward-sound-signature'].body.value }}

  {%- when 'U-Shaped Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['u-shaped-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['u-shaped-sound-signature'].body.value }}

  {%- when 'Dark Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['dark-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['dark-sound-signature'].body.value }}

  {%- when 'Neutral Sparkle Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['neutral-sparkle-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['neutral-sparkle-sound-signature'].body.value }}

  {%- when 'Neutral Bass Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['neutral-bass-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['neutral-bass-sound-signature'].body.value }}

  {%- when 'Warm Sparkly Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['warm-sparkly-sound-signature'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['warm-sparkly-sound-signature'].body.value }}

  {%- when 'V-Shaped' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['v-shaped'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['v-shaped'].body.value }}

  {%- when 'Extra Bass' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['extra-bass'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['extra-bass'].body.value }}

  {%- when 'Bright' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.bright.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.bright.body.value }}

  {%- when 'Flat' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.flat.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.flat.body.value }}

  {%- when 'Party' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.party.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.party.body.value }}

  {%- when 'Kickass Bass' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['kickass-bass'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['kickass-bass'].body.value }}

  {%- when 'Warm Sound' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['warm-sound'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['warm-sound'].body.value }}

  {%- when 'Layback' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.layback.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.layback.body.value }}

  {%- when 'Pumped' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.pumped.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.pumped.body.value }}

  {%- when 'Ultra Wide' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['ultra-wide'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['ultra-wide'].body.value }}

  {%- when 'Layered Nuanced' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['layered-nuanced'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['layered-nuanced'].body.value }}

  {%- when 'Smooth Treble' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['smooth-treble'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['smooth-treble'].body.value }}

  {%- when 'Sharp Details' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['sharp-details'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['sharp-details'].body.value }}

  {%- when 'Drivers' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.drivers.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.drivers.body.value }}

  {%- when 'Needs Amp' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['needs-amp'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['needs-amp'].body.value }}

  {%- when 'Aggressive' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.aggressive.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.aggressive.body.value }}

  {%- when 'Established' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.established.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.established.body.value }}

  {%- when 'Specialist' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.specialist.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.specialist.body.value }}

  {%- when 'Revered Audiophiles' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['revered-audiophiles'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['revered-audiophiles'].body.value }}

  {%- when 'Balanced Output' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['balanced-output'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['balanced-output'].body.value }}

  {%- when 'On-the-Go' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['on-the-go'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['on-the-go'].body.value }}

  {%- when 'Home' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.home.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.home.body.value }}

  {%- when 'Power Output' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['power-output'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['power-output'].body.value }}

  {%- when 'DAC Chip' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['dac-chip'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['dac-chip'].body.value }}

  {%- when 'Multipoint' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.multipoint.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.multipoint.body.value }}

  {%- when 'Bluetooth' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.bluetooth.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.bluetooth.body.value }}

  {%- when 'Battery Life' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['battery-life'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['battery-life'].body.value }}

  {%- when 'Battery Capacity' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['battery-capacity'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['battery-capacity'].body.value }}

  {%- when 'Connect' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.connect.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.connect.body.value }}

  {%- when 'Sampling' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.sampling.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.sampling.body.value }}

  {%- when 'Storage' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.storage.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.storage.body.value }}

  {%- when 'Hybrid Drivers' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['hybrid-drivers'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['hybrid-drivers'].body.value }}

  {%- when 'Planar Driver' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['planar-magnetic-driver'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['planar-magnetic-driver'].body.value }}

  {%- when 'Dynamic Driver' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['dynamic-driver'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['dynamic-driver'].body.value }}

  {%- when 'Electrostatic Drivers' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['electrostatic-driver'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['electrostatic-driver'].body.value }}

  {%- when 'Balanced Armature Driver' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['balanced-armature-driver'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['balanced-armature-driver'].body.value }}

  {%- when 'Travel' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover.travel.header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover.travel.body.value }}

  {%- when 'ANC' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['noise-cancellation'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['noise-cancellation'].body.value }}

  {%- when 'Gesture' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['gesture-controls'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['gesture-controls'].body.value }}

  {%- when 'Wireless Range' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['wireless-range'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['wireless-range'].body.value }}

  {%- when 'IPX' -%}
    <h6 class="h6">{{ shop.metaobjects.snapshot_popover['ipx-rating'].header.value }}</h6>
    {{ shop.metaobjects.snapshot_popover['ipx-rating'].body.value }}
{%- endcase -%}
